<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLogger.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLogger.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLoggerLevel="Off" internalLoggerFile="c:\temp\nlog-internal.log">

  <variable name="fileHeader" value="[${date:format=HH\:mm\:ss.ff}] [${level}] ${logger:shortName=false}"/>
  <variable name="debugHeader" value="[${level}] ${logger:shortName=true}"/>

  <targets>
    <target name="logFile"
      xsi:type="File"
      fileName="${basedir}/logs/${date:format=yyyMMdd_HHmmss:cached=true}.log"
      layout="${fileHeader}: ${message}" />

    <target xsi:type="Debugger" name="debug" layout="${debugHeader}: ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile"/>
    <logger name="*" minlevel="Debug" writeTo="debug"/>
  </rules>
</nlog>